<h1>Hello Rails!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag("/samples/submit", method: "get") do %>

      <%= submit_tag("Show greetings.", class: "btn btn-primary") %>
    <% end %>
  </div>
</div>
